// breakpoints map
$breakpoints: (xs: 0, sm: 768px, md: 992px, lg: 1170px);
// media query mixin
@mixin break($size) {
    @media (min-width: map-get($breakpoints, $size)) {
        @content;
    }
}

// total de colunas
$columns: 12;
// loop dos breakpoints
@each $measure, $value in $breakpoints {
    @for $i from 1 through $columns {
        .col-#{$measure}-#{$i} {
            float: left;
            padding-right: 15px;
            padding-left: 15px;

            @include break($measure) {
                width: #{$i / $columns * 100%};
            }
        }
    }
}

// grid
.grid {
    display: flex;
    flex-flow: row wrap;
}

// linha do grid
.row {
    margin-left: -15px;
    margin-right: -15px;

    &:before {
        content: "";
        display: table;
        width: 100%;
        clear: both;
    }
    &:after {
        content: "";
        display: block;
        clear: both;
        overflow: hidden;
    }
}

// Hidden
@media (max-width:767px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width:1200px) {
    .hidden-lg {
        display: none !important;
    }
}