// Font e img path
$font_path: "../fonts/";
$img_path: "../images/";

// Fontes
$fonts: "fontawesome", "GothamBold", "GothamBoldRegular", "GothamLight";
$gotham: "GothamBold";
$gothamLight: "GothamLight";

// Cores
$branco: #fff;
$preto: #000;